
html {
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(150, 148, 148);
}
 



#graphicContainer {
  width: 350px;
  margin: 50px;
}
#graphicContainer>div {
  margin-top: 10px;
  background: black;
  border: 1px solid white;
  height: 28px;
}


.moveLines {
  margin: -1px;
  padding-left: 5px;
  padding: 5px;
  color: aliceblue;
  border: 1px solid #000;
  background-color: gray;
  transition-timing-function: linear !important;

}

#buttonLines {
  width: 100px;
  margin-left: 50px;
  color: red;
}

/* #massiveNum {
  color: orange;
} */




#changeDigitals {
  background-color: aliceblue;
  width: 60px;
  margin: 25px;
  text-align: center;
  font-size: 1.3em;
}







/*! YouTube */
/* команда в консоле $0.currentSrc  */ 
/* #video_container {
  display: flex; 
  flex-direction: column; 
  position: relative;
  width: 0 auto;
  height: 0;
  align-items: center; 
  justify-content: center; 
  margin-top: 250px;
  gap: 20px;
}

#video_screen {
  width: 300px;
}
#video_btn {
  border-radius: 5px;
  background:linear-gradient(120deg, rgb(129, 219, 219), rgb(20, 20, 191));
  color: aliceblue;
  padding: 5px;
  border-color: white;
  cursor: pointer;
  
}
#frame_video {
  position: absolute;
  margin-top: 30px;
  display: none;
} */

/*! YouTube завершение */




/*! Анимация машинки */
#car {
 animation:move ease-out 5s forwards infinite; 
}

@keyframes move {
  0% {
    top:185%
  }
  /* 50% {
    top:65%;
    width: 150px;
  } */
  100% {
    top:145%;
    width: 10px;
    left: 48%;
    /* transform: translate(-15%, -55%); */
  }
}
#carInForest:hover {
background:linear-gradient(145deg, blue, red) !important;
}

/*! Конец анимации */

/*! Анимация кнопки */
#carInForest {
  transform-origin: left bottom;
  animation: fallingButton cubic-bezier(1,2.02,0,.41) 3s forwards 0s;
  /*!Кубик-бэйзер     https://cubic-bezier.com/#.74,.31,.54,.68 */
}
@keyframes fallingButton {
  0% { 
    rotate: -25deg ;
    transform: translateY(0px);
  }
  40% { 
  rotate: 0deg ;
  }
  50% { 
  transform: translateY(0px);
  }
  100% {
   transform: translateY(100px);
  }
}
 
