
html {
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(150, 148, 148);
}
#hi {
  color: red;
  background-color: gray;
}

/*! Анимация машинки */
#car {
 animation:move ease-out 5s forwards infinite; 
}

@keyframes move {
  0% {
    top:185%
  }
  /* 50% {
    top:65%;
    width: 150px;
  } */
  100% {
    top:145%;
    width: 10px;
    left: 48%;
    /* transform: translate(-15%, -55%); */
  }
}
#carInForest:hover {
background:linear-gradient(145deg, blue, red) !important;
}

/*! Конец анимации */

/* Кнопка 'машинка в лесу' */
#carInForest {
animation: fallingButton cubic-bezier(1,2.02,0,.41) 2s forwards 0s;
}

@keyframes fallingButton {
  0% { 
  }
  100% {
  transform: translateY(100px);
  }
}
 