

body {
  padding: 0px;
  margin: 0px;
}
#hi {
  color: red;
  background-color: gray;
}

#car {
 animation:move ease-out 5s forwards infinite; 
}

@keyframes move {
  0% {
    top:85%
  }
  /* 50% {
    top:65%;
    width: 150px;
  } */
  100% {
    top:45%;
    width: 10px;
    left: 48%;
  }
}


